[submodule "buggybenchmarks"]
	path = buggybenchmarks
	url = https://github.com/thisiscam/SymbolicP-Benchmarks.git
[submodule "tests/benchmarks"]
	path = tests/benchmarks
	url = https://github.com/thisiscam/SymbolicP-Benchmarks.git
